@mixin Josefin400 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@mixin Josefin600 {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
@mixin Josefin700 {
  font-family: "Josefin Sans";
  font-weight: 700;
}
